@charset "utf-8";

body{
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    // font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    // font-family:"メイリオ",meiryo, sans-serif;
}

body,
input,
select{
    color:#3c3c3c;
}

a{
    text-decoration: none;
    color:#3c3c3c;
}

/* フロート */
.left{float: left;}
.right{float: right;}

/* ボーダー */
.border{border: 1px solid #f1f1f1;}

/* ポジション */
.relative{position: relative;}
.absolute{position: absolute;}



/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="reset"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="reset"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

input,
textarea{
    // border-color: #aaa;
	// border: 1px solid #aaa;
    // outline: 0;
}
input:focus,
textarea:focus{
    border-color: #66afe9;
	border: 2px solid #66afe9;
    outline: 0;
}
select{
	border: 1px solid #eee;
	background: #FFF;
	// height: 38px;
    // padding: 6px 12px;
	// font-size: 16px;
    // line-height: 1.428571429;
	// display: block;
}




























// end
