/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  // background: #C0C0C0;
}
input[type="submit"]::-webkit-search-decoration,
input[type="reset"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="reset"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

input,
textarea{
    // border-color: #aaa;
	// border: 1px solid #aaa;
    // outline: 0;
}
input:focus,
textarea:focus{
    border-color: #66afe9;
	border: 2px solid #66afe9;
    outline: 0;
}
select{
	border: 1px solid #eee;
	background: #FFF;
	// height: 38px;
    // padding: 6px 12px;
	// font-size: 16px;
    // line-height: 1.428571429;
	// display: block;
}
